*{

}
:root{
    --maincolor:rgb(9, 93, 202);
    --textcolor:rgb(255, 255, 255);
    --textcolor2:black;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.2px solid rgb(207, 207, 207);
    border-radius: 10px;
    color: var(--textcolor);
    padding: 0rem 2rem;
    height: 80px;

}

header img{
    height: 70px;
}

nav{
    display: flex;
}
nav a{
    text-decoration: none;
    color: var(--textcolor2);
    padding: 0rem 2rem;
}
nav a:hover{
    color: aquamarine;
}

nav .browse{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 header .nav-btn{
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: hidden;
    background: transparent;
    visibility: hidden;
    color: var(--textcolor2);
    opacity: 0;
 }

 @media only screen and (max-width:1024px) {
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    
 }